body {
	background-color: antiquewhite;
}

.main-frame {
	/* 
			Set font-family in body rule if you wish it to be applied everywhere
			in the file.
	*/
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	justify-content: center;
	/* 
			Avoid using percentages on paddings and margins.
			Percentages will depend on the element's parent container.
			This would possibly make designs inconsistent.
			Use em, rem or px instead. rem is recommended.

			Percentages should be used for width, height, etc.
			You may also use vw (viewport width) or vh (viewport height) for width and height respectively.
	*/
	padding: 10em;
	min-width: 1500px;
	min-height: 1600px;
}

.sidebar {
	background-color: #292829;
	color: white;
	padding-top: 3em;
	padding-bottom: 6em;
	max-width: 500px;
	min-width: 500px;
}

.profile {
	border-radius: 50%;
	display: block;
	margin: auto;
}

.sidebar-title {
  margin-top: 3.35em;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	background-color: #05747b;
	min-height: 40px;
  text-align: center;
}

.sidebar-list {
	padding-top: 15px;
  display: flex;
  align-items: center;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.links{
  color: white;
}

.links:hover {
  color: #05747b;
}

.icon{
  margin: 0.5em;
}

.mainbar {
	color: #292829;
	background-color: white;
	max-width: 50em;
	padding-left: 0;
	padding-top: 0;
	margin-top: 0;
	font-size: 20px;
}

.name {
	background-color: #05747b;
	margin: 0%;
  padding-top: 5.15em;
	padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 4.9em;
}

.first-name {
	color: #292829;
	font-size: 78px;
  margin: 0;
}

.last-name {
	color: white;
	font-size: 78px;
}

.work {
	margin-bottom: 2px;
}

.mainbar-title {
	margin-top: 25px;
	margin-bottom: 5px;
}

.introduction-title {
	margin-top: 25px;
	margin-bottom: 0;
}

.mainbar-company {
	margin-top: 0px;
	margin-bottom: 2px;
}

.company-school {
	color: #05747b;
	margin: 0;
}

.work-section {
	margin: auto;
	padding-left: 5em;
}
